{% extends 'base.html.twig' %}

{% block title %}Tous nos produits
{% endblock %}

{% block body %}
	<h1>Tous nos produits</h1>

	<div class="row">
		<div class="col-md-2">
			{{ form( form ) }}
		</div>
			<div class="col-md-10">
				<div class="row row-cols-2 row-cols-md-3 g-4">
					{% if error %}
						<div class="alert alert-danger col-md-12" role="alert">
							{{ error }}
						</div>

					{% endif %}

					{% for product in products %}
						<div class="col">
							<div class="card h-100">
								<a href="{{ path('product', {'slug' : product.slug }) }}">
									<img src="/uploads/{{product.image}}" class="card-img-top" alt="{{product.category.name}}/{{product.name}}">
								</a>
								<div class="card-body">
									<h5 class="card-title">{{product.name}}</h5>
									<p class="card-text">{{product.subtitle}}</p>
									<p class="card-text text-end">
										<em>{{product.category.name}}</em>
									</p>
								</div>
								<div class="card-footer ">
									<span class="row mx-0 g-sm-1">
										<p class="col-6 list-group-item">{{(product.price / 100) | number_format(2)}}
											€</p>

										<span class="btn-group" role="group">
											<a href="{{ path('product', {'slug' : product.slug }) }}" class="btn btn-info bg-gradient">
												<i class="fas fa-info"></i>
												Détails
											</a>
											<a href="{{path('add_cart', { 'id': product.id })}}" class="btn btn-primary bg-gradient">
												<i class="fas fa-plus"></i>
												Ajouter au panier
											</a>
										</span>

									</span>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
	</div>
{% endblock %}
