{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes commandes</h1>

	<div class="col col-12">
				{% if products | length > 0 %}
					<h6>Contenu du panier :</h6>

					<table class="table table-hover table-striped">
						<thead class="table-dark align-middle text-center">
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Prix à l'unité</th>
								<th scope="col">Quantité</th>
								<th scope="col">Total</th>
								<th scope="col">Image</th>
							</tr>
						</thead>

						<tbody class="table-light align-middle text-center">
							{% set total = 0 %}
							{% set nbProduct = 0 %}

							{% for product in products %}
								<tr>

									<td>{{ product.product.name }}</td>
									<td>{{ (product.product.price / 100) | number_format(2) }}
										€</td>
									<td class="text-center">

										{{ product.quantity }}

									</td>
									<td>{{ (product.product.price * product.quantity / 100 )| number_format(2) }}
										€</td>
									<td><img src="/uploads/{{ product.product.image }}" alt="" style="height:100px"></td>	
								</tr>
								{% set total = total + (product.product.price * product.quantity / 100 ) %}
								{% set nbProduct = nbProduct + 1 %}
								
							{% endfor %}
						</tbody>
					</table>

					<table class="table table-borderless table-info">
						<tbody>
							<tr>
								<th scope="row" class="text-end">Nombre de produits</th>
								<td>
									{{ nbProduct }}
								</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Total</th>
								<td>
									{{ total | number_format(2) }}
									€
								</td>
							</tr>
						</tbody>

					</table>

				{% else %}

					<div class="alert alert-info" role="alert">
						<p>Le panier est vide.</p>
						<a class="btn btn-info bg-gradient" href="{{ path('products')}}">Nos produits</a>

					</div>

				{% endif %}
			</div>
			
    			{{form(form)}}
			
{% endblock %}
